
body {
  font-size: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.header{
  width:70%;
  clear:both;
  height:80px;
  left:0;
  position:relative;  
}

.container {
  max-width: 70%;
  margin: 0px auto 10px;
  background-color: #fff;
  border: 1px solid #cfcfcf;
  border-bottom: 3px solid #ccc;
  padding-bottom: 5px;
}

.row {
  width: 100%;
  padding: 0 2.5em;
}
.row.header {
  padding: 60px 60px;
  border-bottom: 1px solid #ccc;
  background: url(image/main7.png);
  background-position: center;
  bac
  color: #fff;
  height: 310px;
  width: 103.5%;
  background-repeat: no-repeat;
}


 div.info {
    max-width: 1200px;
    overflow: hidden;
    padding: 40px 0px 50px;
    margin-left: 20px;
}

div.info div.sidebar {
    background-color: #EFEDEE;
    float: left;
    margin: auto;
    padding: 36px 0 34px;
    width: 35%;
    height: 600px;
}

div.info div.article {
  float: left;
  margin: 0;
  padding: 0 0 0 30px;
  width: 60%;

}


div.info div.sidebar h1 {
    display: block;
    line-height: 38px;
    margin: 0 auto;
    padding: 0 0 15px;
    text-align: center;
    width: auto;
}

div.info div p, div.info div span {
    color: #7A6666;
    font-family: roboto-regular-webfont;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    margin: 0;
    padding: 0 0 24px;
    text-align: left;
}
div.info div.sidebar p {
    display: block;
    line-height: 20px;
    margin: 0 auto;
    text-align: left;
    width: 250px;
    text-align: justify;
}

div.info div.article p{
  text-align: justify;
}

div.info div h1 {
    color: #128F9A;
    font-size: 22px;
    font-weight: normal;
    line-height: 20px;
    margin: 0;
    padding: 0 0 15px;
    text-align: left;
    text-transform: uppercase;
}
.map_img img{
  width: 51%;height:280px;margin-left: 10px; float: left; 
}
@media only screen and (max-width: 64em) {
  .container{
    padding-top: 0px;
    border: none;
    width: auto;
  }

  .row.header {
    display: none;
  }

  div.info div.sidebar {
  height: auto;
  float: left;
  margin: 0;
  padding: 20px 0 0 0px;
  width: auto;
  }

  div.info div.sidebar p{
  padding-right: 10px;
  padding-left: 10px;
  width: auto;
  text-align: none;
  } 

  div.info div.sidebar h1{
  padding-right: 10px;
  padding-left: 10px;
  width: auto;
  text-align: justify;
  } 

  div.info div.article {
  float: left;
  margin: 0;
  padding: 20px 0 0 0px;
  width: auto;
  }
  .map_img img{
  width: 50%;height:280px;
}
}

@media only screen and (max-width: 37.5em) {

  div.info div.sidebar {
    display: none;
  }

  div.info div.article {
    float: none;
    width: 100%;
    margin: auto;
  }

  img{
    display: none;
  }

  iframe {
    width: auto;
  }

  .container{
    margin-top: 10px;
    margin-left: 10px;
  }

  .row.header {
    display: none;
  }

  li, p {
    width: 100%;
  }

  h1 {
    font-size: 2.25em;
  }
}

div, textarea, input {
  box-sizing: border-box;
}
