@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
body {
  font-size: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 710px;
  min-width: 424px;
  margin: 0px auto;
  background-color: #fff;
  border: 1px solid #cfcfcf;
  border-bottom: 3px solid #ccc;
  padding-bottom: 20px;
}

.row.header {
  padding: 100px 100px;
  border-bottom: 1px solid #ccc;
  background: url(image/container.jpg) left -80px;
  color: #fff;
  height: 60%;
  width: 104.5%;
  background-repeat: no-repeat;
}
.row.body {
  padding: .5em 2.5em 1em;
}

.pull-right {
  float: right;
}

h1 {
  font-family:Arial,Helvetica,sans-serif;
  font-weight: bold;
  display: inline-block;
  font-size: 2.8125em;
  margin-top: -20px;
  text-indent: 100px;
}

h3 {
  font-family:Arial,Helvetica,sans-serif;
  font-weight: 300;
  font-size: 1.25em;
}

.btn {
  font-size: 1.0625em;
  display: inline-block;
  padding: 0.74em 1.5em;
  margin: 1.5em 0 0;
  color: #fff;
  border-width: 0 0 0 0;
  border-bottom: 5px solid;
  text-transform: uppercase;
  background-color: #b3b3b3;
  border-bottom-color: #8c8c8c;
  font-family:Arial,Helvetica,sans-serif;
  font-weight: 300;
}
.btn:hover {
  background-color: #bfbfbf;
}
.btn.btn-submit {
  background-color: #4f6fad;
  border-bottom-color: #374d78;
}
.btn.btn-submit:hover {
  background-color: #5f7db6;
}

form {
  max-width: 100%;
  display: block;
}
form ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
form h2 {
  display: block;
  margin: 0 0 0.5em 0;
  color: #4f6fad;
  font-size: 1.5em;
}
form h3 {
  display: block;
  margin: 0 0 0.5em 0;
  color: #4f6fad;
  font-size: 1em;
  font-weight: bold;
}
form ul li {
  margin: 0 0 0.25em 0;
  clear: both;
  display: inline-block;
  width: 100%;
}
form ul li p {
  margin: 0;
  padding: 0;
  float: left;
}
form ul li p.right {
  float: right;
}
form ul li .divider {
  margin: 0.5em 0 0.5em 0;
  border: 0;
  height: 1px;
  width: 100%;
  display: block;
  background-color: #4f6fad;
  background-image: linear-gradient(to right, #ee9cb4, #4f6fad);
}
form ul li .req {
  color: #ee9cb4;
}
form label {
  display: block;
  margin: 0 0 0.5em 0;
  color: #4f6fad;
  font-size: 1em;
}
form input {
  margin: 0 0 0.5em 0;
  border: 1px solid #ccc;
  padding: 6px 10px;
  color: #555;
  font-size: 1em;
}
form textarea {
  border: 1px solid #ccc;
  padding: 6px 10px;
  width: 100%;
  color: #555;
}
form small {
  color: #4f6fad;
  margin: 0 0 0 0.5em;
}


div, textarea, input {
  box-sizing: border-box;
}


@media only screen and (max-width: 64em ) {
  .container{
    padding-top: 0px;
    border: none;
  }
  .pull-right {
    float: none;
  }

  input {
    width: 100%;
  }

  label {
    width: 100%;
    display: inline-block;
    float: left;
    clear: both;
  }

  input.btn {
    margin: 1.5em 0 0.5em;
  }

  h3 {
    font-size: 1.125em;
  }

}

@media only screen and (max-width: 37.5em) {
  .container{
    padding-top: 10px;
  }
  .pull-right {
    float: none;
  }
  .row.header {
    display: none;
  }

  .logo {
    display: none;
  }

  .header {
    display: none;
  }

  img {
    display: none;
  }

  input {
    width: 100%;
  }

  label {
    width: 100%;
    display: inline-block;
    float: left;
    clear: both;
  }

  li, p {
    width: 100%;
  }

  input.btn {
    margin: 1.5em 0 0.5em;
  }

  h1 {
    font-size: 2.25em;
  }

  h3 {
    font-size: 1.125em;
  }

  li small {
    display: none;
  }
}
