@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
body {
  font-size: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

div, textarea, input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header{
  width:70%;
  clear:both;
  height:80px;
  left:0;
  position:relative;  
}

.container {
  max-width: 90%;
  border: 1px solid #cfcfcf;
}
#portfolio{
  margin-top: -40px;
}

.col-sm-4{
  height: 550px;
}

.row.body {
  padding: .5em 2.5em 1em;
}

.one ul {
  margin-top: 10px;
  margin-left: -30px;
  list-style-type: none;
  float: left;
}

.btn{
  height: 20%;
  width: 50%;
  margin-left: 20%;
  background-color: #128F9A;
}

form input {
  color: #555;
  font-size: 0.8em;
  margin-left: 20px;
  float: right;
}

label {
  padding: 0.1em 0.3em;
  font-size:90%;
  text-align:right;

}
label:after { content: ": " }

@media only screen and (max-width: 480px) {
  .pull-right {
    float: none;
  }

  input {
    width: 100%;
  }

  label {
    width: 100%;
    display: inline-block;
    float: left;
    clear: both;
  }

  li, p {
    width: 100%;
  }

  input.btn {
    margin: 1.5em 0 0.5em;
  }

  h1 {
    font-size: 2.25em;
  }

  h3 {
    font-size: 1.125em;
  }

  li small {
    display: none;
  }
}
